<div style="margin:50px;">
  <div class="alert alert-info"><b>Job Adder Jobs List</b></div>
  <div class="table-responsive">
    <table class="table" >
      <thead>
        <tr>
          <th>Company</th>
          <th>Name</th>          
          <th>Skills</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs">
          <td>{{job.company}}</td>
          <td>{{job.name}}</td>
          <td>{{job.skills}}</td>
          <td> <button (click)="openModal('custom-modal-1', job)">Get Candidates</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<jw-modal id="custom-modal-1">
  <h1>Best Suitable Candidates for Role {{jobName}} at {{companyName}}</h1>
  <div class="table-responsive">
    <table class="table" >
      <thead>
        <tr>
          <th>Name</th>          
          <th>Skills</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidate of candidates">
          <td>{{candidate.name}}</td>
          <td>{{candidate.skillTags}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>
<router-outlet></router-outlet>